.userProfilView__large {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
}

.userProfilView__medium {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userProfilView__small {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.userProfilView__small .userName_block {
  padding-left: 16px;
}

.userImage_block__large {
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 154px;
  height: 154px;
  border-radius: 50%;
}

.userImage_block__medium {
  background-size: cover;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}

.userImage_block__small {
  background-size: cover;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.userImage_block__large img {
  width: 100%;
  height: 100%;
}

.userImage_block__medium img {
  width: 100%;
  height: 100%;
}

.userImage_block__small img {
  width: 100%;
  height: 100%;
}

.userName_block {
  display: flex;
  justify-content: center;
}
.userProfilView__large .userName_block{

  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.userProfilView__medium .userName_block{
}

.heading1 {
  margin-top: 0;
  font-family: 'Chillax', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
}

.heading3 {
  margin-top: 18px;
  font-family: 'Plus Jakarta Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
}

.heading4 {
  font-family: 'Plus Jakarta Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
