.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__header {
  padding-top: 33px;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.layout__content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.layout__footer {
  padding-top: 85px;
}

.header{

}

.titleHome{
  width: 100%;
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.textInfo{
  text-align: center;
  padding-top: 20px;
}
.contButtonHome{
  padding-top: 50px;
}
.containerInfoUsers{
  margin-left: 3.5%;
  height: 50px;
  margin-top: 85px;
  width: 93%;
  display: flex;
  text-align: left;
  align-items: start;
  justify-content: space-between;
}
.containerLeft{
  display: flex;
  flex-direction: row;
  text-align: left;
}
.containerUsersCards{
  padding-left: 3.5%;
  width: 93%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
  justify-content: space-between;
}
.containerUserCardsItem{
  padding-top: 40px;
}
